@import "color";

:root {

    --copy-gutter: 50px;
    --copy-gutter-double: 100px;
    --copy-max: 650px;

    --accent: #{$accent};
    --primary: #{$primary};

    --viz1: #{$viz1};
    --viz2: #{$viz2};

    --dark-grey: #{$dark-grey};
    --mid-grey: #{$mid-grey};
    --light-grey: #{$light-grey};

}

/* have to use scss variables for media query values since css variables are not supported there */
$mq-4k: 1920px;
$mq-jumbo: 1350px;
$mq-large: 1275px;
$mq-medium: 1080px;
$mq-small: 950px;
$mq-tiny: 800px;
$mq-mobile: 730px;

$mq-custom-height: 1200px;
$mq-custom-width: 1920px;

/* order is important for cascading */
@import "typefaces";
@import "vue-material";
@import "globals";

.charts {

    display: flex;
    flex-wrap: wrap;

}

.charts article {

    width: calc(50% - 1em);
    margin-right: 1em;

}

.charts article:nth-child(2n) {

    margin-right: 0;

}

.lgv-grid {

    fill: transparent;
    stroke: var(--mid-grey);
    stroke-dasharray: 0.25em;
    stroke-linecap: round;
    stroke-opacity: 0.75;

}

.lgv-axis {

    stroke: white;
    stroke-width: 0.2em;

}

.lgv-axis-label {

    text-anchor: middle;

}

.lgv-polygon {

    opacity: 0.3;

}

.lgv-point {

    cursor: pointer;

}

path[data-value="now"],
circle[data-label="now"] {

    fill: var(--viz1);

}

path[data-value="preferred"],
circle[data-label="preferred"] {

    fill: var(--viz2);

}

.lgv-radar-chart rect {

    fill: var(--mid-grey);
    opacity: 0.2;

}

.quadrant-axis {

    stroke: currentColor;
    stroke-width: 0.5em;
    stroke-linecap: round;

}

.quadrant-label {

    font-weight: 700;
    text-anchor: middle;
    text-transform: uppercase;

}

.quadrant-label:nth-of-type(2) {

    text-anchor: end;

}

.quadrant-label:nth-of-type(4) {

    text-anchor: start;

}
