@font-face {

    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 400;
    src: url("../../node_modules/@fontsource/source-sans-pro/files/source-sans-pro-latin-400-normal.woff2") format("woff2");

}

@font-face {

    font-family: "Source Sans Pro Light";
    font-style: normal;
    font-weight: 300;
    src: url("../../node_modules/@fontsource/source-sans-pro/files/source-sans-pro-latin-300-normal.woff2") format("woff2");

}

@font-face {

    font-family: "Source Sans Pro Italic";
    font-style: normal;
    font-weight: 400;
    src: url("../../node_modules/@fontsource/source-sans-pro/files/source-sans-pro-latin-400-italic.woff2") format("woff2");

}

@font-face {

    font-family: "Source Sans Pro Bold";
    font-style: normal;
    font-weight: 700;
    src: url("../../node_modules/@fontsource/source-sans-pro/files/source-sans-pro-latin-700-normal.woff2") format("woff2");

}

@font-face {

    font-family: "Material Icons";
    font-style: normal;
    font-weight: 400;
    src: url("../../node_modules/material-icons/iconfont/material-icons.woff2") format("woff2");

}
