<template>

    <figure class="base-profile"
        @ringmouseover="mouseOver">

    </figure>

</template>

<script>
    import { RC } from "../modules/radar-chart";

    export default {
        name: "BaseProfile",
        props: ["data", "timing"],
        data: () => ({
            rc: null
        }),
        mounted() {

            // initialize
            this.rc = new RC(this.data, 400, 400, 5, 20, -45);

            // render visualization
            this.rc.render(this.$el);
        },
        methods: {
            mouseOver(e) {
                console.log(e.detail);
            }
        }
    };
</script>
