<template>

    <section class="base-analytics">

        <h1>Organizational Culture Profile</h1>

        <!-- CULTURE PROFILE -->
        <BaseProfile
            v-bind:data="all"
            v-bind:timing="timing" />

        <div class="charts">

            <!-- BY SECTION -->
            <article v-for="(d,i) in section"
                v-bind:key="i" >

                <h1>{{ d.label }}</h1>

                <BaseProfile
                    v-bind:data="d.values"
                    v-bind:timing="timing" />

            </article>

        </div>

    </section>

</template>

<script>
    import BaseProfile from "./BaseProfile";

    export default {
        name: "BaseAnalytics",
        props: ["aggregate", "sections", "timing"],
        components: {
            BaseProfile
        },
        data: () => ({
            axes: {
                "A": "clan",
                "B": "adhocracy",
                "C": "market",
                "D": "hierarchy"
            }
        }),
        computed: {
            all: function() {
                return this.timing.map(t => ({
                    label: t,
                    values: this.aggregate.map(d => ({
                        label: this.axes[d.label],
                        value: d[t]
                    }))
                }));
            },
            section: function() {
                return this.sections.map(d => ({
                    label: d.label,
                    values: this.timing.map(t => ({
                        label: t,
                        values: d[t].map(v => ({
                            label: this.axes[v.label],
                            value: v.value
                        }))
                    }))
                }));
            }
        }
    };
</script>
