<template>

    <main>

        <BaseAnalytics
            v-bind:aggregate="aggregateData"
            v-bind:sections="sectionData"
            v-bind:timing="timing" />

    </main>

</template>

<script>
    import BaseAnalytics from "./components/BaseAnalytics";

    import ocai from "./data/ocai.json";

    export default {
        name: "App",
        metaInfo: {
          title: "survey analytics",
          titleTemplate: `%s`
        },
        components: {
            BaseAnalytics
        },
        data: () => ({
            prompts: ["A", "B", "C", "D"],
            sections: ocai.map(d => d.label),
            timing: ["now", "preferred"]
        }),
        computed: {
            all: function() {
                return this.ocai.map(d => d.values).flat();
            },
            ocai: function() {

                let randVal = Math.floor(Math.random() * 60);

                // fake data
                let fd = [...Array(randVal)].map((d,i) => ({
                    id: i,
                    values: [...Array(24)].map((x,j) => {

                        let newV = Math.floor(Math.random() * 100);

                        return {
                            section: this.sections[j % 6],
                            now: newV,
                            preferred: 100 - newV
                        }

                    })
                    .sort((a,b) => a.section.localeCompare(b.section))
                    .map((y,j) => {
                        y.prompt = this.prompts[j % 4];
                        return y;
                    })
                }));

                return fd;

            },
            aggregateData: function() {
                return this.prompts.map(d => {

                    // establish object
                    let obj = { label: d };

                    // filter for prompt values
                    let values = this.all.filter(v => v.prompt === d);

                    // generate values by timing category
                    this.timing.forEach((t, i) => {

                        // add to object
                        obj[t] = values.map(v => v[t]).reduce((a,b) => a + b) / values.length;

                    });

                    return obj;

                });
            },
            sectionData: function() {
                return this.sections.map(d => {

                    // establish object
                    let obj = { label: d };

                    // filter for section values
                    let values = this.all.filter(v => v.section === d);

                    // generate values by timing category
                    this.timing.forEach((t, i) => {

                        // add to object
                        obj[t] = this.prompts.map(p => {

                            // filer for prompt values
                            let vals = values
                                .filter(v => v.prompt === p)
                                .map(v => v[t]);

                            // establish object
                            return {
                                label: p,
                                value: vals.reduce((a,b) => a + b) / vals.length
                            };

                        })

                    });

                    return obj;

                });
            }
        }
    };
</script>
